{% extends 'base.html' %}

{% block head %}
<script>
    tinymce.init({
      selector: 'textarea',
      height: 600,
      plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
        'save table directionality emoticons template paste'
      ],
      content_css: 'css/content.css',
      toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
    });
</script>
{% endblock %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<main role="main" class="container">
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" class="form-control" value="{{ request.form['title'] }}" required>
    <label for="tags">Tags</label>
    <input name="tags" id="tags" class="form-control" value="{{ request.form['tags'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
</main>
{% endblock %}

{% block footer %}{% endblock %}